* {
    border-radius: 20px;
}

h1 {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-style: solid;
    border-color: black;
    width: 600px;
    height: 800px;
    padding: 5px;
}

#upper,
#lower {

    border-style: solid;
    border-color: black;
    padding: 8px;
    height: auto;
    width: auto;

}

#upper {
    display: flex;
    height: 150px;
    margin-bottom: 5px;
}

#upperInner {
    padding: 20px;
    flex: 1;
    border-style: dashed;
}

#lower {
    display: flex;
    flex: 1;
}

#lower div {

    flex: 1;
    border-style: solid;
    border-color: black;
    margin: 5px;
}

button {

    
    height: 120px;
}

#lowerColumn1,
#lowerColumn2,
#lowerColumn3,
#lowerColumn4 {
    display: flex;
    flex-direction: column;
}